.portfolio {
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;

    h1 {
        font-size: 50px;
    }

    ul {
        margin: 10px;
        padding: 0;
        list-style: none;
        display: flex;
    }
    .container {
        width: 70%;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        .item {
        
            width: 300px;
            height: 150px;
            margin: 10px;
            border-radius: 20px;
            border: 1px solid rgb(240, 239, 239);
            display: flex;
            align-items: center;
            justify-content: center;
            position: relative;
            transition: all 0.5s ease;
        
            h3 {
                position: absolute;
                font-size: 20px;
                color: white;
            }
        
            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
                z-index: 1;
                
            }
            &:hover {
                cursor: pointer;
                background-color: #15023a;
                img {
                    opacity: 0.2;
                }
        
                h3 {
                    z-index: 2;
                }
        
            }
        }
    }
}