.portfolioList {
    margin-right: 50px;
    padding: 7px;
    font-size: 14px;
    border-radius: 10px;
    cursor: pointer;

    &.active {
        background-color: #15023a;
        color: white;
    }
}